.left-rectangle {
  background-image: linear-gradient(
    to right top,
    #00b4d7,
    #00a5d1,
    #0096c9,
    #0086c0,
    #0077b6
  );
  width: 40%;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
}
.right-rectangle {
  position: absolute;

  background-image: linear-gradient(
    to right top,
    #373737,
    #424454,
    #465373,
    #3c6494,
    #0077b6
  );
  width: 100%;
  z-index: -3;
  height: 19%;
  margin-left: auto;
  margin-right: 0;
  transform: rotateY(180deg);
  transform: rotateZ(180deg);
}

.divider {
  width: 10%;
  z-index: -2;
  left: 31%;
  position: absolute;
  height: 19%;
  background-image: linear-gradient(
    to right top,
    #f5f5f5,
    #d0d0d0,
    #acacac,
    #8a8a8a,
    #696969
  );
  -webkit-clip-path: polygon(0 0, 100% 0%, 60% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 60% 100%, 0% 100%);
}
